* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }
  
  header {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
  }
  
  h1 {
    font-size: 80px;
    color: #5B0B9B;
    text-align: center;
  }
  
  .modo {
    margin-top: 2%;
    margin-right: 2%;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
  }
  
  
  .coluna {
    position: fixed;
    left: 0;
    top: 0;
    width: 7vw;
    height: 100vh;
    background-color: #5B0B9B;
  }
  
  footer {
    text-align: center;
  }
  
  
  textarea {
    background: none;
    width: 50vw;
    resize: none;
    height: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 15px 0;
    outline: none;
    line-height: 1.3;
    overflow-wrap: break-word;
  }
  
  .tradutor{
    padding-bottom: 90px;
  }
  
  .modo img{
    width: 40px;
  }